# **Lab Assessment-1**
Submitted By 20BAI10152

Q1. Write a program to print numbers from 1 to 20 except multiple of 2 & 3.

In [ ]:
# to print numbers from 1 to 20 except multiple of 2 & 3

for x in range(20):

    if (x == 2 or x==3):

        continue

    print(x,end=' ')

print("\n")

0 1 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

Q2 Write a program that keep on accepting number from the user until user enters Zero. Display the sum and average of all the numbers

In [ ]:
print("Input some integers to calculate their sum and average. Input 0 to exit.")

count = 0
sum = 0.0
number = 1

while number != 0:
	number = int(input(""))
	sum = sum + number
	count += 1

if count == 0:
	print("Input some numbers")
else:
	print("Average and Sum of the above numbers are: ", sum / (count-1), sum)

Input some integers to calculate their sum and average. Input 0 to exit.
10
12
0
Average and Sum of the above numbers are:  11.0 22.0

Q3) Write a program to accept decimal number and display its binary number.

In [ ]:
def DecimalToBinary(num):
     
    if num >= 1:
        DecimalToBinary(num // 2)
    print(num % 2, end = '')
 
# Driver Code
if __name__ == '__main__':
     
    # decimal value
    dec_val = 55
     
    # Calling function
    DecimalToBinary(dec_val)

0110111

Q4. Write a function to display prime numbers below any number accepted from the user.

In [ ]:
upper_value = int(input ("Please, Enter the Upper Range Value: "))  
  
print ("The Prime Numbers in the range are: ")  
for number in range (upper_value + 1):  
    if number > 1:  
        for i in range (2, number):  
            if (number % i) == 0:  
                break  
        else:  
            print (number)

Please, Enter the Upper Range Value: 50
The Prime Numbers in the range are:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

Q5. Write a program to print first 10 even numbers.

In [ ]:
print("The First 10 Even Natural Numbers")

for i in range(1, 11):
    print(2 * i)

The First 10 Even Natural Numbers
2
4
6
8
10
12
14
16
18
20

Q6. Write a program to print table of a number accepted from user

In [ ]:
num = int(input("Enter the number: "))

print("Multiplication Table of", num)
for i in range(1, 11):
   print(num,"X",i,"=",num * i)

Enter the number: 10
Multiplication Table of 10
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

Q7. Write a program to find the sum of the digits of a number accepted from user.

In [ ]:
def getSum(n):
 
    sum = 0
    while (n != 0):
 
        sum = sum + int(n % 10)
        n = int(n/10)
 
    return sum
 
 
n = 687
print(getSum(n))

21

Q8. Write python program to print list of numbers using range and for loop

In [ ]:
start = int(input("Enter the start of range: "))
end = int(input("Enter the end of range: "))
  
# iterating each number in list
for num in range(start, end + 1):
      
    # checking condition
    if num >= 0:
        print(num, end = " ")

Enter the start of range: 20
Enter the end of range: 50
20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

Q9) Write python program to print first n prime number

In [ ]:

numr=int(input("Enter range:"))

print("Prime numbers:",end=' ')

for n in range(1,numr):

    for i in range(2,n):

        if(n%i==0):

            break

    else:

        print(n,end=' ')

Enter range:26
Prime numbers: 1 2 3 5 7 11 13 17 19 23

Q10. Write python program in which afunction (with single string parameter) is defined and calling that function prints the string parameters given to function.

In [ ]:
def func(str):
    print("The String Parameter given to the function is {}.".format(str))

str = input("Enter a String: ")


func(str)

Enter a String: Hello World
The String Parameter given to the function is Hello World.

Q11. Write a python program to confirm that 2 strings have the same identity.

In [ ]:
str1 = "Text"
str2 = "Text"
 
print("\nMemory location of str1 =", hex(id(str1)))
print("Memory location of str2 =", hex(id(str2)))
print()
print(hex(id(str1)) == hex(id(str2)))

Memory location of str1 = 0x7fe5bd205130
Memory location of str2 = 0x7fe5bd205130

True

Q12. Write a python program tocheck if each word in a string begins with a capital letter

In [ ]:
s1="My name is Shubham"
for word in s1.split():
    if word[0].isupper():
        print ('the words which start with capital letters are ',word)

the words which start with capital letters are  My
the words which start with capital letters are  Shubham

Q13. Write a python program to find the index of the first occurrence of a substring in a string.

In [ ]:
string = 'My college name is VIT Bhopal'
substring = 'name'

index = string.find(substring)
print(index)

11

Q14. Write a python program to count the number of a specific character in a string.

In [ ]:
s = "Shubham and Ruds are good friends."  
print("Original string:")
print(s)
print("Number of occurrence of 'o' in the said string:")
ctr = 0 
for c in s:
   if c == 'u':
       ctr = ctr + 1
print(ctr)

Original string:
Shubham and Ruds are good friends.
Number of occurrence of 'o' in the said string:
2

Q15. Write a python program to show the use of f-string and format() function used with the string.

In [ ]:
# Python3 program introducing f-string
val1 = 'Shubham'
val2 = 'boy'
print(f" {val1} is a hardworking {val2}.")
 
name = 'Parv'
age = 20

print(f" {name} is Shubham's friend and he is {age} years old.")

 Shubham is a hardworking boy.
 Parv is Shubham's friend and he is 20 years old.